* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(15, 25, 43);
}

.navbar {
    border-bottom: 2px solid rgba(0, 255, 238, 0.782);
    width: 100vw;
    height: 7.25vh;
    box-shadow: 0px -10px 10px 15px rgb(0, 255, 238);
position: relative;
}

@media screen and (max-width: 1000px){
    .navbar {
        border-bottom: 2px solid rgba(0, 255, 238, 0.782);
        width: 100vw;
        height: 10vh;
        box-shadow: 0px -10px 10px 15px rgb(0, 255, 238);
    position: relative;
    }
}


.navbar #title::after {
    content: 'Cape Study Online';
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
}

@media screen and (max-width: 1000px){
    .navbar #title::after {
        content: 'CSO';
        color: white;
        font-size: 2em;

        top: 50%;
        left: 5%;
        transform: translate(0%, -50%);
    } 
}

.panel.recommended{
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.438);
    width: 75vw;
    height: 50vh;
    border-radius: 10px;
}

.panel.recommended .title{
    position: absolute;
    top: 1.5vh;
    left: 50%;
    transform: translate(-50%, 0);  
    font-size: 1.2em;
    font-weight: 700; 
}

@media screen and (max-width: 1000px){
    .panel.recommended .title{

        top: 1.5vh;
        

        font-size: 1.1em;
width: 100%;
text-align: center;
    }   
}